:root {
  --primary-color: #1a2b42;
  --secondary-color: #b7c0ca;
  --accent-color-1: #f95d6a;
  --accent-color-2: #ff7b54;
  --accent-color-3: #ffb900;
}

.App {
  background-color: var(--accent-color-1);
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
