.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--accent-color-2);
  border-radius: 1.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
  width: calc(25% - 2rem);
  height: 50vh;
  cursor: default;
}

.link h5 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.link .circle {
  font-size: 3rem;
  color: var(--accent-color-1);
  margin-top: 1rem;
}

.link .circle:hover {
  color: var(--accent-color-3);
  cursor: pointer;
}

@media (max-width: 768px) {
  .links-container {
    flex-direction: column;
    align-items: stretch;
  }

  .link {
    width: 100%;
    height: auto;
    max-width: none;
    margin: 1rem 0;
  }
}
